configparser==4.0.2
crcmod==1.7
idna==2.6
ipaddress==1.0.17
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
Paste==3.4.0
redis==3.4.1
SecretStorage==2.3.1
six==1.14.0
webapp2==2.5.2
WebOb==1.8.6
